

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.myNav{
	position:absolute;
	top:0;
	width:60px;
	height:auto;
	background:#26344B;
}

.myNav div{
	width:100%;
	height:70px;
	background: #17C4BB;
	text-align:center;
	color:white;
	padding:20px 15px;
}
.myNav div button {
	background:none;
	border:none;
}

.myNav div button i {
	font-size:20px;
}
#elements{
	list-style-type:none;
	padding:0;
	margin:0;
}
.myNav #elements>li {

	text-align:center;
	padding:20px 0px;
	border-bottom:1px solid darkgray;
	height:65px;
}
.myNav #elements>li:hover,.myNavActive #elements>li:hover {
	background:#222F44 !important;
}


#elements li i{
	font-size:25px;
	color:#bfbfbf;
}






/*Active*/

.myNavActive{
	position:absolute;
	top:0;
	width:200px;
	height:auto;
	background:#26344B;
}

.myNavActive div{
	width:100%;
	height:70px;
	background: #17C4BB;
	text-align:center;
	color:white;
	padding:20px 10px;
}
.myNavActive div button{
	background:none;
	border:none;
	float:right;
	padding:3px;
}

.myNavActive div a{
	text-transform:uppercase;
	text-decoration:none;
	color:white;
	float:left;
	font-size:20px;
}

.myNavActive div button i{
	font-size:20px;
}

.myNavActive #elements li{
	height:90px;
	text-align:center;
	padding:20px 0px;
	border-bottom:1px solid darkgray;
}


.myNavActive #elements li span{
	color:#bfbfbf;
	display:block;
	font-size:12px;
	padding:3px;
}


/*Down menu */
.downmenu{
	position:absolute;
	left:200px;
	width:200px;
	background: #1F2B3D;
	list-style-type:none;
	padding:0;
}


.downmenu li{
	padding:10px 20px!important;
	color:white;
	height:40px !important;
	text-align:left !important;
	border:none !important;
	background:#1F2B3D ;
}

.downmenu li:hover{
	background-color:#26344B;
}











